body{
    background: blue;

}
.container{
    height: 900px;
    width:  900px;
    background: black;
    text-align: center;
    position: absolute;
}



#rOne{
height: 150px;
width: 150px;
background: red;
margin: 50px;
padding: 50px;
display: inline-block;
position: relative;


}

#rTwo{
    height: 150px;
    width: 150px;
    background: orange;
    margin: 50px;
    padding: 50px;
    display: inline-block;
    position: relative;
   
}
#rThree{
    height: 150px;
width: 150px;
background: yellow;
margin: 50px;
padding: 50px;
display: inline-block;
position: relative;
}